@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 206 67% 95%;
    --foreground: 210 40% 9.8%;
    --card: 0 0% 100%;
    --card-foreground: 210 40% 9.8%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 40% 9.8%;
    --primary: 207 68% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 145 63% 49%;
    --secondary-foreground: 0 0% 100%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 210 8% 45.1%;
    --accent: 210 40% 90%;
    --accent-foreground: 210 40% 9.8%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 40% 89.8%;
    --input: 210 40% 89.8%;
    --ring: 207 68% 53%;
    --chart-1: 207 68% 53%;
    --chart-2: 145 63% 49%;
    --chart-3: 27 87% 67%;
    --chart-4: 197 37% 24%;
    --chart-5: 43 74% 66%;
    --radius: 0.8rem;
  }
  .dark {
    --background: 210 40% 5%;
    --foreground: 0 0% 98%;
    --card: 210 40% 5%;
    --card-foreground: 0 0% 98%;
    --popover: 210 40% 5%;
    --popover-foreground: 0 0% 98%;
    --primary: 207 68% 53%;
    --primary-foreground: 0 0% 100%;
    --secondary: 145 63% 49%;
    --secondary-foreground: 0 0% 100%;
    --muted: 210 40% 14.9%;
    --muted-foreground: 210 8% 63.9%;
    --accent: 210 40% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 40% 14.9%;
    --input: 210 40% 14.9%;
    --ring: 207 68% 53%;
    --chart-1: 207 68% 53%;
    --chart-2: 145 63% 49%;
    --chart-3: 27 87% 67%;
    --chart-4: 197 37% 24%;
    --chart-5: 43 74% 66%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
